<a href="https://colab.research.google.com/github/pupefrosi/Pythonschool/blob/main/clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#VARIABLES + OPERADOR DE ASIGNACION

#el operador de asignacion es el signo =. el valor de la derecha se le
#asigna al valor de la izquierda. cuando tenemos dos variables con el
#mismo nombre, e ultimo valor agregado es el que queda como resultado.

nombre_usuario = "Juan"
nombre_usuario = "Marta"

edad_usuario = 30
edad_usuario = 55

print(nombre_usuario)

print(edad_usuario)

Marta
55

In [ ]:
#DATA TYPE O TIPOS DE DATOS

#STRING ---> cadena de caracteres. se le colocan ""
color = "Rojo"

#NUMBER ----> INT (ENTEROS)
dni = 34640317

#NUMBER ----> FLOAT (numeros con parte decimal)
nota_usuario = 7.5

#BOOLEANO ---> valores logicos (true o false - o 1 y 0)
es_socio = True

In [2]:
#python es dinamicamente o debilmente tipado. no fuerza a las variables a
# que mantengan con un solo tipo de dato.

patente_auto = "AXB123"

patente_auto = 300

print(patente_auto)

300

In [3]:
#OPERADORES ARITMETICOS

#los operadores tienen presedencia

x = 30
y = 20

# SUMA (+)
suma = 10 + 30
suma = 50 + 20
suma = x + 50
suma = x + y

print(suma)

50

In [4]:
#CONCATENACION
#El operador SUMA tambien sirve para unir strings ademas de valores numeri
#conc = 30 + "Jose" ERROR TIPO DE DATO

conc = "Juan" + "Lopez"
conc = "Juan" + " " + "Lopez"
print(conc)

Juan Lopez

In [5]:
#RESTA

#similar a la suma. se distingue por -

resta = 100 - 70

print( resta )

30

In [6]:
#MULTIPLICACION

#se distingue por el *

multi = 20 * 2
print(multi)

40

In [7]:
#DIVISION

#se distingue por /

divi = 10 / 2
print(divi)

5.0

In [8]:
resultado = 10 + 20 * 2

print( resultado )

50

In [9]:
#I/O
#el PRINT es una funcion de SALIDA de datos.

print("Hola")

#el INPUT es una funcion de entrada de datos. Pausa la ejecucion hasta que
#ingrese un dato. Para que ese dato que se obtiene del input no se pierda,
#se almacena en una variable.

nombre_usuario = input("ingresa tu nombre")

print("Bienvenido al sistema: " , nombre_usuario)

Hola
ingresa tu nombreGuada
Bienvenido al sistema:  Guada

In [10]:
#Pedir al usuario dos numeros por teclado y mostrar la suma de los mismos

numero1 = input("introduzca un numero ")
numero2 = input("introduzca otro numero ")
print(numero1 + numero2)

#otro ejemplo para formular lo anterior porque el input guarda valores
#como string, no nos permite sumar los valores, sino que los concatena.

introduzca un numero 3
introduzca otro numero 4
34

In [11]:
#PARSE O CASTING (parsear o castear)
# funcion int() --> convierte un valor a entero

resultado = int("10")
print(resultado)


x = int("10")
y = int("30")

suma = x + y
print(suma)

10
40

In [12]:
num1 = input("introduzca un numero ")
num2 = input("introduzca otro numero ")

numero1 = int(num1)
numero2 = int(num2)

suma = numero1 + numero2

print("La suma es: ", suma)

introduzca un numero 5
introduzca otro numero 6
La suma es:  11

In [ ]:
#str()
str(30)

'30'

In [ ]:
#float
float(22)

22.0

In [13]:
#STRINGS

nombre_usuario = "Carlos"

print( nombre_usuario)

#length --> devuelve la cantidad de caracteres que tiene un string
print(len(nombre_usuario))

Carlos
6