<a href="https://colab.research.google.com/github/pupefrosi/Pythonschool/blob/main/Clase4_operadoresbasicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#OPERADORES BASICOS Y EXPRESIONES ANIDADAS

#son operadores aritmeticos, de asignacion (=),operadores logicos.

#OPERADORES RELACIONALES
#para comparar o comprobar la relacion entre dos valores. la relacion a responder ya esta definida
#el resultado de la comparacion sera un booleano: verdadero o falso por ejemplo

In [1]:
#IGUALDAD
#va a comparar si el primer valor es igual al segundo.
# se designa como ==

print( 20 == 20)

True

In [2]:
print( 30 == 10)

False

In [3]:
print(20+20 == 40)

True

In [6]:
print(30-20 == 30+10)

False

In [7]:
#la comparacion por mas que sea igual, distingue mayus de minus
print("Juan" == "juan")

False

In [8]:
#El espacio es un caracter por lo cual no es igual.
print("Ramon"=="Ramon ")

False

In [9]:
#por mas que sean los mismos valores, son distintos tipos de datos.

print(30 == "30")

False

In [10]:
#OPERADOR MAYOR
# SE RECONOCE POR EL SIGNO > (BOCA APUNTANDO A LA IZQUIERDA APUNTA AL MAYOR
#no se comparan los string porque se compara el valor de la letra en si

print(50>45)

True

In [11]:
print(20 + 55 > 80 - 10)

True

In [12]:
print(10+30*2 > 60+20)

False

In [13]:
print(90>90)

False

In [14]:
#OPERADOR MENOR
#SE DESIGNA CON EL SIMBOLO < (OPUESTO AL ANTERIOR)
print( 67 < 76)

True

In [15]:
print( 90 < 88)

False

In [16]:
print( 10 + 20 * 4 < 120)

True

In [17]:
#OPERADOR MAYOR O IGUAL >=
#SIRVE PARA EL CASO QUE SEA EL PRIMERO MAYOR O IGUAL QUE EL SEGUNDO
#SIRVE PARA MARCAR RANGOS

print(90 >= 90)

True

In [18]:
print(55 >= 66)

False

In [19]:
#OPERADOR MENOR O IGUAL <=

print(40 <= 80)

True

In [20]:
print(88 <= 88)

True

In [21]:
#DISTINTO O NOT EQUAL O NOT
#ES LA NEGACION DE ALGO Y SE DISTINGUE CON EL SIGNO != (es la igualdad negada)

print( 10 != 20)

True

In [22]:
print("Ramon" != "Marta")

True

In [23]:
#OPERADORES LOGICOS
#Se usan para poder unir multiples relaciones.
#tienen menor precedencia por lo que se verifica al ultimo despues que los otros operadores se resuelvan

#AND --> Y O and - SIRVE PARA UNIR MAS DE UNA RELACION. AGRUPA LA RELACION O CONSTRUYE
#PARA QUE RETORNE TRUE DEBE CUMPLIRSE AMBAS CONDICIONES. tienen que cumplirse en simultaneo

print( 10<20 and 30> 15)

True

In [24]:
print(50== 40 and 10 > 5)

False

In [25]:
print("Juan" != "Ramon" and "Marcos" == "Marcos")

True

In [26]:
print( 100 > 99 and "Pedro"!= "Marcelo" and 90-20 > 70)
#en este caso se resuelve el primer par y luego el resultado de los dos primeros se compara con el siguiente.

False

In [27]:
#OPERADOR O OR
#SE DESIGNA COMO or
#en este caso si se cumple uno u otro o ambos se torna verdadero.
#ver tabla de la verdad.
"""
v+v=v
v+f=v
f+v=v
f+f=f
"""

print(10!= 20 or 30==40)

True

In [28]:
print("Marta" == "Marta" or "Juan" != "Marcos")

True

In [29]:
#OPERADOR NOT
#se suele usar en combinacion con otro de los operadores logicos. Negacion

not True

False

In [30]:
not 10 == 10

False

In [32]:
#OPERADOR DE ASIGNACION =

num_a = 30

num_a = num_a + 10
print(num_a)

40

In [33]:
#suma en asignacion += (es lo mismo que el anterior pero nos ahorramos el paso de variable nueva)

num_b = 20

num_b += 10
print(num_b)

30

In [34]:
#resta en asignacion

num_c = 50
num_c -= 22

print(num_c)

28