<a href="https://colab.research.google.com/github/pupefrosi/Pythonschool/blob/main/Clase4_metodosdecolecciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#METODOS DE COLECCIONES
#son funcionalidades para los distintos tipos de datos.

#METODOS DE STRINGS
#comienzan y terminan con comillas, encerrando caracteres
#Recordar que los strings son inmutables por lo que al momento de generar una modificacion, se duplica el string.

stringUno = "Juan carlos"

In [5]:
#UPPER

#metodo que toma el string y retorna un nuevo string en Mayusculas. retorna asi un segundo string

resultado = stringUno.upper()
print("Upper: ", resultado)

Upper:  JUAN CARLOS

In [6]:
#LOWER
#Toma al string original, lo duplica y lo vuelve todo en minuscula.

print("Lower: ", stringUno.lower())

Lower:  juan carlos

In [7]:
#CAPITALIZE
#transforma la primer letra en mayuscula y el resto en minuscula.

print("Capitalize: ", stringUno.capitalize())

Capitalize:  Juan carlos

In [8]:
#TITLE

#retorna un string con cada primera letra en mayuscula.

print("Title: ", stringUno.title())

Title:  Juan Carlos

In [9]:
#FIND

#encontrar o buscar en strings permite buscar la primer ocurrencia de un valor especifico en un string.
#indica en que indice se encuentra el valor. primer ocurrencia dentro del string.
#-1 indica que no se encontro el valor solicitado
print("Resultado Find: ", stringUno.find("a"))

Resultado Find:  2

In [10]:
#RFIND
#me devuelve la ultima ocurrencia que encuentra del valor solicitado respecto al string

print("Resultado RFind: ", stringUno.rfind("a"))

Resultado RFind:  6

In [11]:
#SPLIT
#divide el sprint en una lista super util. por ejemplo una lista csv.
#string.split(separator)
print("Split: ", stringUno.split())

Split:  ['Juan', 'carlos']

In [12]:
#ejemplo de separacion en split con un valor.

stringRandom = "El chico y la chica y el perro y el gato y el raton"

print("Split 2: ", stringRandom.split(" y "))

Split 2:  ['El chico', 'la chica', 'el perro', 'el gato', 'el raton']

In [13]:
#JOIN
#metodo que une y hace lo inverso a Split.
#toma todos los elementos iterables de una lista(iterables) y los une en un string.
#nos permite trabajar con el texto individualmente que como lista. Sirve para la manipulacion de archivos.

resultado = "*".join(["Juan", "Pedro", "Ramon"])
#el * sirve como separador o de union entre los elementos de la lista. tambien puede ser separado por , o espacio por ej.

print(resultado)

Juan*Pedro*Ramon

In [14]:
resultado = " ".join(["Juan", "Pedro", "Ramon"])
print(resultado)

Juan Pedro Ramon

In [15]:
#STRIP

#es util para eliminar espacios. es para la inyeccion en SQL es basico para eliminar espacios
# elimina el espacio delante  y detras del string pero no los que estan dentro del texto.
#muy util para no llenar la base de datos de basura.

stringRandom = "                  HOLA                  "
print("STRIP: ", stringRandom.strip())

stringRandom1 = "                  HOLA JOSE                  "
print("STRIP: ", stringRandom1.strip())

STRIP:  HOLA
STRIP:  HOLA JOSE

In [16]:
#REPLACE

#reemplaza un valor por otro valor que yo quiera. o si quiero eliminar alguna palabra que no quiera o errores gramaticales, etc.
#en el primer valor coloco lo que quiero reemplazar y en el segundo valor, lo que quiero colocar en ese reemplazo.

stringRandom = "El chico y la chica y el perro y el gato y el raton"
print("REPLACE: ", stringRandom.replace(" y", ","))

REPLACE:  El chico, la chica, el perro, el gato, el raton

In [17]:
#METODOS DE LISTAS

listaUno = [6,12,77,23,9,10,44]

listaDos = ["Rojo", "Verde", "Azul"]

In [18]:
#EXTEND

#sirve para extender una lista
#debemos tener en cuenta que la union altera la lista original a la cual le aplicamos el extend

listaUno.extend(listaDos)
print(listaUno)

[6, 12, 77, 23, 9, 10, 44, 'Rojo', 'Verde', 'Azul']

In [19]:
#REVERSE

#da vuelta el orden de la lista. este tambien altera el resultado a la variable original

listaUno.reverse()
print(listaUno)

['Azul', 'Verde', 'Rojo', 44, 10, 9, 23, 77, 12, 6]

In [20]:
#SORT

#metodo para ordenar listas. es util con numeros pero con strings hay que tener cuidado.
#de igual manera se puede aplicar una logica para ordenar.}
#tambien altera el original

listaTres = [6,12,77,23,9,10,44]
listaTres.sort()
print(listaTres)

[6, 9, 10, 12, 23, 44, 77]

In [21]:
#si queremos ordenar de manera descendente le agregamos dentro del parentesis reverse=True

listaTres.sort(reverse=True)
print(listaTres)

[77, 44, 23, 12, 10, 9, 6]

In [22]:
#METODOS SET

#COPY
set1 = {3,4,5}
set2 = set1.copy()
#set2 = set1 esta mal hacerlo!! por eso sirve copy, asi se copia la lista.
print(set2)

{3, 4, 5}

In [23]:
set3 = {3,4,5,6}
set4 = {1,2,3,4}

#ISDISJOINT

#retorna verdadero cuando ninguno de los elementos se encuentra en el segundo
#si es falso, quiere decir que comparten datos

print("IS DISJOINT: ", set1.isdisjoint(set3))

IS DISJOINT:  False

In [24]:
#ejemplo cuando es verdadero
set5 = {6,9,19}
set6 = {1,2,3,4}

print("IS DISJOINT: ", set5.isdisjoint(set6))

IS DISJOINT:  True

In [27]:
#ISSUBSET

#sirve para comprobar dos set si tienen datos en comun o dentro uno del otro.
#es util para data. retorna verdadero si todos los elementos del primero existen en el segundo

print("SUBSET: ", set1.issubset(set4))
print("SUBSET: ", set4.issubset(set1))
print("SUBSET: ", set1.issubset(set3))

SUBSET:  False
SUBSET:  False
SUBSET:  True

In [29]:
#ISSUPERSET

print("ISSUPERSET: ", set1.issuperset(set4))
print("ISSUPERSET: ", set4.issuperset(set1))

ISSUPERSET:  False
ISSUPERSET:  False

In [30]:
#UNION

print("UNION: ", set1.union(set3))

UNION:  {3, 4, 5, 6}

In [32]:
#DIFFERENCE

#indica diferencia de set en lo que no comparten
print("DIFFERENCE: ", set1.difference(set3))
#si no tiene diferencia, devuelve el set vacio
print("DIFFERENCE: ", set1.difference(set4))

DIFFERENCE:  set()
DIFFERENCE:  {5}