<a href="https://colab.research.google.com/github/pupefrosi/Pythonschool/blob/main/Clase3_conjuntosydiccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#CONJUNTOS Y DICCIONARIOS

#4 estructuras de datos nativas de Python : listas, tuplas, conjuntos y diccionarios
#Lista --> [] Tupla -->()

#SET ---> CONJUNTOS
# se crea con {}, son heterogeneos, pueden tener cualquier tipo de datos
#se diferencia del resto de datos porque el set es NO ORDENADO, No Indexado.
#Es Mutable pero no se pueden cambiar los valores ya existentes porque al ser
#no indexado no se puede sacar un dato especifico.
#No permite valores duplicados! Sirve para listas de DNI por ej para sacar los duplicados


datos = {"Juan", "Ramon", 50}
print(datos)

{50, 'Juan', 'Ramon'}

In [ ]:
#para convertir el set en lista, aplicamos la siguiente funcion

list(datos)
#set(datos)

[50, 'Juan', 'Ramon']

In [ ]:
lista_nombres = ["ramon", "pedro", "juan", "pedro", "jose"]

print(lista_nombres)

['ramon', 'pedro', 'juan', 'pedro', 'jose']

In [ ]:
#ejemplo de eliminacion de duplicados a traves de una conversion de una lista en set
set_nombres = set(lista_nombres)
print(set_nombres)

{'pedro', 'ramon', 'juan', 'jose'}

In [ ]:
#METODOS DE SET(funciones)

#ADD
#permite agregar un nuevo valor al set

set_nombres.add("pepe")
print(set_nombres)

{'pedro', 'juan', 'jose', 'ramon', 'pepe'}

In [ ]:
#UPDATE
#metodo para actualizar un set. SIRVE P/AGREGAR ELEM.
#lo que agrego siempre debe ser una estructura de datos iterable.
#puede agregarse listas, tuplas, colecciones, etc pero no valores solos.

set_nombres.update(["Marcos", "Julian", "Paula"])

print(set_nombres)

{'pedro', 'juan', 'jose', 'Paula', 'Julian', 'Marcos', 'ramon', 'pepe'}

In [ ]:
#si agrego un solo string, lo particiona y lo itera
set_nombres.update("marcos")
print(set_nombres)
#si agregamos solo un numero da error porque no es iterable.

{'o', 's', 'pedro', 'a', 'juan', 'jose', 'r', 'c', 'Paula', 'Julian', 'Marcos', 'ramon', 'pepe', 'm'}

In [ ]:
#DISCARD

#sirve para eliminar el elemento indicado.
#si lo encuentra lo borra, sino no lo descarta y no pasa nada

set_nombres.discard("Marcos")
print(set_nombres)

{'o', 's', 'pedro', 'a', 'juan', 'jose', 'r', 'c', 'Paula', 'Julian', 'ramon', 'pepe', 'm'}

In [ ]:
#REMOVE
#toma el valor a borrar y lo remueve. pero si no lo encuentra indica error.
#debo asegurarme que el elemento pertenezca al set a diferencia de discard

set_nombres.remove("juan")
print(set_nombres)

{'o', 's', 'pedro', 'a', 'jose', 'r', 'c', 'Paula', 'Julian', 'ramon', 'pepe', 'm'}

In [ ]:
#POP
#elimina un elemento random o al azar
#no es necesario introducir ningun dato en ()

set_nombres.pop()
print(set_nombres)

{'pedro', 'a', 'jose', 'r', 'c', 'Paula', 'Julian', 'ramon', 'pepe', 'm'}

In [ ]:
#IN

#no es un metodo real pero porque es un operador o palabra clave.
#se usa para comprobar si un valor existe dentro de un set.
#y responde con booleanos u operador logico.

print("jose" in set_nombres)

True

In [ ]:
print("Ramon" in set_nombres)

False

In [ ]:
#CLEAR

#limpia o vacia todo el set

set_nombres.clear()
print(set_nombres)

set()

In [ ]:
#EJERCICIO DE CLASE

set_colores = {"Rojo", "Blanco", "Azul"}

print(set_colores)

{'Azul', 'Rojo', 'Blanco'}

In [ ]:
set_colores.add("Violeta")
set_colores.add("Dorado")
#se puede hacer con set_colores.update(["Violeta", "Dorado"])
print(set_colores)

{'Rojo', 'Blanco', 'Violeta', 'Dorado', 'Azul'}

In [ ]:
set_colores.discard("Celeste")
set_colores.discard("Blanco")
set_colores.discard("Dorado")
print(set_colores)

{'Rojo', 'Violeta', 'Azul'}

In [ ]:
#DICCIONARIOS

#son ordenados, mutables, no permiten datos duplicados en cuanto a llave para no sobreescribir el indice.
#esta compuesto por pares de valores. cada elemento del dic es una dupla de valores
#tambien es con {} y la llave sirve para encontrar el valor.
# la llave puede ser solo un string o un int(entero)
#Valor es cualquier tipo de dato.

#usuarios = {llave:valor , llave:valor , llave:valor}

usuarios = {"u1":"Marcos", "u2":"Romina", "u3":"Juan"}
random = {1:"Pedro", 2:["Rojo", "Amarillo", "Azul"]}

In [ ]:
#ACCESO A LOS VALORES

usuarios["u1"]

'Marcos'

In [ ]:
random[2]

['Rojo', 'Amarillo', 'Azul']

In [ ]:
#METODOS DE DICCIONARIO

#KEYS --- DEVUELVE ESTRUCTURA DE DATOS(lista) CON LAS LLAVES DEL DICCIONARIO

print(usuarios.keys())

dict_keys(['u1', 'u2', 'u3'])

In [ ]:
#no tiene add pero se puede agregar un elemento de la siguiente forma:

usuarios["u4"] = "Marcos"

print(usuarios)

{'u1': 'Marcos', 'u2': 'Romina', 'u3': 'Juan', 'u4': 'Marcos'}

In [ ]:
#UPDATE

#es mas prolijo y permite agregar mas elementos. solo se puede agregar otro diccionario llave:valor
#no se puede agregar un solo elemento suelto.

usuarios.update({"u5":"Pedro"})
print(usuarios)

{'u1': 'Marcos', 'u2': 'Romina', 'u3': 'Juan', 'u4': 'Marcos', 'u5': 'Pedro'}

In [ ]:
#agregar lista a diccionario
usuarios.update({"lista_colores": ["Rojo","Azul"]})
print(usuarios["lista_colores"])

In [ ]:
#POP

#elimimna un elemento a traves de una llave. mas recomendable que DEL

usuarios.pop("u1")
print(usuarios)

{'u2': 'Romina', 'u3': 'Juan', 'u4': 'Marcos', 'u5': 'Pedro'}

In [ ]:
#DEL

#sirve para eliminar un elemento o todo el diccionario
del usuarios["u4"]
print(usuarios)

{'u2': 'Romina', 'u3': 'Juan', 'u5': 'Pedro'}

In [ ]:
#ANIDAMIENTO

test = ["Pedro", "Rojo", 30, ["Raton", "Perro", "Gato"], True, {"u1":"Marcos", "u2":["Laura", "Marcela"]}]

In [ ]:
test[2]

30

In [ ]:
test[4]

True

In [ ]:
resultado = test[3]
print(resultado)
print(resultado[1])

['Raton', 'Perro', 'Gato']
Perro

In [ ]:
#accedo primero a la lista y luego al valor dentro de la lista

test[3][1]

'Perro'

In [ ]:
#accedo al diccionario y luego al valor dentro

test[5]["u1"]

'Marcos'

In [ ]:
test[5]["u2"][1]

'Marcela'